.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #666666;
}

.topbar-container {
  background-color: #eb8500;
  color: #fff;
  padding: 10px;
}

.main-container {
  display: flex;
  height: 100%;
  flex: 1;
}

.left-container {
  background-color: #e0d2b9;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 91%;
  border: 1px solid #000000a4;
  overflow: hidden;
}

.left-container-nochat {
  background-color: #e0d2b9;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.feed-container {
  background-color: #444444;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: 100%;
  height: 100vh;
}

.feed-container-nochat {
  background-color: #444444;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: 100%;
  height: 100%;
}

.input-container {
  background-color: #666666;
  border: 1px solid #0000006c;
  padding-right: 7px;
}

.input-container-nochat {
  background-color: #666666;
  visibility: hidden;
  height: 0%;
}

.lobby-container {
  flex: 1;
  background-color: #666666;
  max-width: fit-content;
  overflow-y: auto;
  border: 1px solid #0000006c;
}