/* Main chat container */
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* Prevent body from scrolling */
  background-color: #666666;
}

/* Topbar container */
.topbar-container {
  background-color: #eb8500;
  /* A deeper red for the top bar */
  color: #fff;
  padding: 10px;
  /* Add more styles as needed */
}

/* Main content container with two sections */
.main-container {
  display: flex;
  flex: 1;
}

/* Left container with chat feed and input */
.left-container {
  background-color: #e0d2b9;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; 
  border: 1px solid #000000a4 ;
}

.left-container-nochat {
  background-color: #e0d2b9;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%; 
}

/* Feed container */
.feed-container {
  background-color: #444444;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
}

/* Feed container when no chat selected */
.feed-container-nochat {
  background-color: #444444;
  overflow-y: auto;
  scroll-behavior: smooth;
  height:100%;
}

/* Input container */
.input-container {
  background-color: #666666;
  border: 1px solid #0000006c ;
  padding-right: 7px;
}

.input-container-nochat {
  background-color: #666666;
  visibility: hidden;
  height: 0%;
}



/* Lobby container (sidebar) */
.lobby-container {
  flex: 1;
  /* Adjust the width as needed */
  background-color: #666666;
  /* Use a golden brown for the lobby */
  max-width: fit-content;
  /* Add more styles as needed */
  overflow-y: auto;
  border: 1px solid #0000006c ;
}