body {
  color: #ffffff00;
  font-family: Arial, sans-serif;
}

.login {
  background-color: #001aff4f;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://media4.giphy.com/media/3o72FhIuVWddxQHftS/giphy.gif?cid=ecf05e474w321nz1piuz2ud2v06i3wxx3gyq26wuo2br159f&ep=v1_gifs_search&rid=giphy.gif&ct=g'); /* Specify the path to your fireplace GIF */
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen; /* Adjust opacity by using screen blending mode */
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(220, 220, 220, 0.7); /* Adjust opacity and background color */
  color: black;
  padding: 30px;
  border-radius: 4%;
}

  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  .login__google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }