.input__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_box {
  flex: 1;
  width: calc(100% - 60px);
  max-height: 120px;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  margin: 4px;
  color: black;
  resize: none;
  overflow-y: auto;
  white-space: wrap;
  transition: height 0.3s ease;
}

.input_box:focus {
  height: 80px;
}

.btn-container {
  padding-top: 2px;
}

.paperclip-container {
  margin: 5px;
  margin-right: 7px;
  padding: 5px;
  border-radius: 5px;
  background-color: #eb8500;
  cursor: pointer;
}

.paperclip-container:hover {
  background-color: rgb(119, 119, 119);
}

.send-btn {
  background-color: #eb8500;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.media-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 3px;
}

.inner-media-container {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 8px;
  padding-bottom: 3px;
}

.img-div,
.vid-div,
.aud-div {
  background-color: #eb8500;
  height: 65px;
  width: 65px;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  padding: 10px;
}

.img-div:hover,
.vid-div:hover,
.aud-div:hover {
  background-color: rgb(119, 119, 119);
}

.media-hidden-input {
  visibility: hidden;
  width: 0px;
}

.par-img,
.par-vid,
.par-aud {
  margin: 0;
  margin-top: 6px;
}

.selected-audio {
  width: 100px;
  height: 30px;
  margin: 0px;
}

.selected-image,
.selected-video {
  width: 100%;
  height: 200px;
  margin: 0px;
}

.file-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-name {
  margin: 0;
}

.loading-indicator {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}