.img {
    border: 5px solid rgb(0, 155, 0);
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.img-online {
    border: 5px solid rgb(0, 155, 0);
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.img-offline{
    border: 5px solid rgba(0, 0, 0, 0.308);
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.public-img {
    border: none;
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.outer-list {
    display: flex;
    align-items: center;
    flex-direction: flex-start;
}

.user-list {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    width: fit-content;
}

.lobby-title {
    font-size: larger;
}

.title-div {
    margin-left: 15px;
    margin-bottom: -20px;
    display: flex;
    flex-direction: flex-start;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    padding: 0.5vh;
    padding-inline: 1vw;
    padding-right: 1vw;
    width: 16vw;
    border-radius: 5px;

}
.user:hover {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #eb8500;
    border-radius: 5px;
    width: 16vw;
    padding-inline: 1vw;
    padding-right: 1vw;

}
.user-selected {
    background-color: #444444;
    display: flex;
    align-items: center;
    padding: 0.5vh;
    padding-inline: 1vw;
    width: 16vw;
    border-radius: 5px;
    padding-right: 1vw;
}


.img.online {
    border-color: rgb(0, 155, 0);
}

.img.offline {
    border-color: rgba(0, 0, 0, 0.308);
}


.name {
    margin-left: 10px;
    font-size: large;
}

.public-div {
    margin: 3px;
    display: flex;
    align-items: center;
    flex-direction: flex-start;
}

