.topbar {
    display: flex;
    flex-direction: row;
    margin: 0vh;
}
.chat-picture {
    width: 9.5vh;
    height: 9.5vh;
    border-radius: 50%;
}

.chat-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vw;
}

.chat-name,
.chat-picture {
    margin-right: 1vh;
    font-weight: 600;
}

.chat-bio {
font-size: small;
font-weight: 550;
font-style: italic;
color: rgb(255, 255, 255);
}

.profile-logout-outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 20vw;
}

.your-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    border-radius: 7.5px;
    padding-inline: 0.5vh;
}
.your-profile-container:hover {
    height: 9.5vh;
    background-color: #666666;
    border: 0.25vh solid black;
    cursor: pointer;
}

.logout-container {
    background-color: #444444;
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 1vh;
    cursor: pointer;
}
.logout-container:hover {
    background-color: #666666;
}


.logout-svg {
    height: 6vh;
    width: 6vh;
}